@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
#container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  min-width: 600px;
}
#header {
  background-color: #523e0d;

  display: flex;
  justify-content: space-between;
}
#nav li a {
  text-decoration: none;
  color: #fff;
}
#nav li a:hover {
  color: #7e8aa2;
}
#nav ul {
  padding-left: 0;
  list-style: none;
}
#nav ul li {
  display: inline;
  padding-left: 10px;
  border-left: 1px solid #7e8aa2;
  padding-right: 10px;
  border-bottom: none;
}
#nav li:first-child {
  border-left: none;
}
#logo {
  width: 660px;
}
#logo h1 {
  padding: 10px;
}
#logo a {
  text-decoration: none;
  color: #fff;
}
#content {
  display: flex;
}
.section {
  flex: 1 1 auto;
  padding: 0 10px 10px 0;
}
.resize-img {
  width: 100%;
  height: 100%;
}
.sidebar {
  flex: 0 1 200px;
  min-width: 200px;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 70px 0 0 10px;
}
table {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}
th,
td {
  padding: 10px 4px;
  text-align: left;
}
th {
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #ccc;
}
dt {
  font-weight: bold;
  border-top: 1px dashed #ccc;
  padding: 20px 0;
}
dt:first-child {
  border-top: none;
}

dd {
  padding: 0 0 20px 0;
}
#footer {
  border-top: 1px solid #ccc;
  margin: 20px 10px 10px 0;
  clear: both;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
